.main-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.5em;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;

}